.layui-layout-admin .layui-logo {
    background: #23262E url(/assets/images/logo.png) no-repeat center !important;
}
.layui-footer {
    text-align: center;
    font-size: 12px;
}
.iconfont {
    margin-right: 8px;
}
.layui-icon {
    margin-right:8px;
    margin-left: 25px;
}   
iframe {
    width: 100%;
    height: 100%;
}
.layui-body {
    overflow: hidden;
}
.userinfo {
    height: 60px;
    display: flex!important;
    justify-content: center;
    align-items: center;
    user-select: none;
    /* text-align: center;
    line-height: 60px; */
}
.userinfo .text-avatar {
    /* 这里可以使用相对定位的方式让文字头下移，也可以父元素直接使用flex布局 */
    display: inline-block;
    /* position: relative;
    top: 4px; */
    width: 40px;
    height: 40px;
    background-color: #009688;
    border-radius:50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
}
.layui-nav-img {
    width: 40px;
    height: 40px;
}
.layui-side .userinfo {
    border-bottom: 1px solid #282b33;
}
#welcome {
    font-size: 12px;
}